In [1]:
  
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup
import os

In [54]:
url = "http://covidinfonith.herokuapp.com/copy-post-info?branch=CSE&year=3&page=8"

In [49]:
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
web_byte = urlopen(req).read()

webpage = web_byte.decode('utf-8')
print(webpage)

<!DOCrequired type html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <!-- <script src="https://kit.fontawesome.com/0cfa224e02.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="css/nav.css" type = "text/css">
</head>
<body class = " mb-2 bg-info">
    <nav class="sticky-top mx-0 navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" id = "" href="/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" id="" href="/get-covid">COVID SECTION<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form action="/find-student" method="POST" class="form-inline my-2 my-lg-0 mr-4">
        <input class="form-control mr-sm-2" type="search" name = "rollno" placeholder="Search By Roll no." aria-label="Search By Id">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class = "navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" id="" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>
    <div class = "container-fluid">

                <div class = "container my-4">
                    <div class="alert alert-danger" role="alert">
                        No student with this info found
                    </div>
                </div>

    </div>
<script src="js/foundStudents.js"></script>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div style="text-align: center;" class = "row d-flex justify-content-center">
      Students who wish to update or add their data kindly send your details to the mentioned email.
    </div>
      <div class = "row d-flex justify-content-center">
        Gmail <a href = "mailto: covidinfonith@gmail.com">:- covidinfonith@gmail.com </a>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="copyright-text">Powered by
       <a style = "color: cornflowerblue;" target="_blank" href="https://nith.ac.in/">Nith</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="copyright-text">
       <a style = "color: cornflowerblue;" target="_blank" href="/about-us">About Us</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" target="_blank" href="https://www.facebook.com/nithamirpur/">Fb</a></li>
            <li><a class="twitter" target="_blank" href="https://twitter.com/nithamirpurhp?lang=en">Tw</a></li>
            <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/school/national-institute-of-technology-hamirpur/">Li</i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

In [46]:
page_soup = soup(webpage,"html.parser")

In [47]:
cont = page_soup.find_all('li',attrs={"style":"list-style-type: none ;"})

In [48]:
cont[0].h4.next

IndexError: list index out of range

In [19]:
cont[0].find_all('h4')

AttributeError: 'list' object has no attribute 'text'

In [32]:
big = []
for contain in cont:
    h4_cont = contain.find_all('h4')
    h = [h4_cont[i].text for i in range(6) ]
    big.append(h)
print(big)

[['Inderjeet Singh', 'CSE', '17550', '3 year', 'District = Solan', 'State = Himachal Pradesh'], ['Yogendra Singh', 'CSE', '17551', '3 year', 'District = Mumbai', 'State = Maharashtra'], ['Mohit Kapoor', 'CSE', '17552', '3 year', 'District = Kangra', 'State = Himachal Pradesh'], ['Varan Singh Rohila', 'CSE', '17554', '3 year', 'District = Ghaziabad', 'State = Uttar Pradesh'], ['Kusum Koli', 'CSE', '17555', '3 year', 'District = Udham Singh Nagar', 'State = Uttarakhand'], ['Harshit Agarwal', 'CSE', '17556', '3 year', 'District = Agra', 'State = Uttar Pradesh'], ['Haq Nizar', 'CSE', '17557', '3 year', 'District = Kozhikode', 'State = Kerala'], ['Priyam Gupta', 'CSE', '17559', '3 year', 'District = Sambhal', 'State = Uttar Pradesh'], ['Ashish Yadav', 'CSE', '17560', '3 year', 'District = Alwar', 'State = Rajasthan'], ['Ujjawal Gupta', 'CSE', '17561', '3 year', 'District = Jaipur', 'State = Rajasthan'], ['Muskan Mangal', 'CSE', '17562', '3 year', 'District = Dholpur', 'State = Rajasthan'], ['Anshita Vishwa', 'CSE', '17564', '3 year', 'District = Ajmer', 'State = Rajasthan']]

In [39]:
import pandas as pd
df = pd.DataFrame(big,columns=columns)

In [38]:
columns = ['Name','Branch','Roll No','Year','City','State']

In [40]:
df

                  Name  ...                     State
0      Inderjeet Singh  ...  State = Himachal Pradesh
1       Yogendra Singh  ...       State = Maharashtra
2         Mohit Kapoor  ...  State = Himachal Pradesh
3   Varan Singh Rohila  ...     State = Uttar Pradesh
4           Kusum Koli  ...       State = Uttarakhand
5      Harshit Agarwal  ...     State = Uttar Pradesh
6            Haq Nizar  ...            State = Kerala
7         Priyam Gupta  ...     State = Uttar Pradesh
8         Ashish Yadav  ...         State = Rajasthan
9        Ujjawal Gupta  ...         State = Rajasthan
10       Muskan Mangal  ...         State = Rajasthan
11      Anshita Vishwa  ...         State = Rajasthan

[12 rows x 6 columns]

In [43]:
df['City'].replace('District = '," ")

0                 District = Solan
1                District = Mumbai
2                District = Kangra
3             District = Ghaziabad
4     District = Udham Singh Nagar
5                  District = Agra
6             District = Kozhikode
7               District = Sambhal
8                 District = Alwar
9                District = Jaipur
10              District = Dholpur
11                District = Ajmer
Name: City, dtype: object

In [55]:
requests.get(url)

In [52]:
import requests

In [60]:
url = "http://covidinfonith.herokuapp.com/copy-post-info?branch=CSE&year=3&page=1"

req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
web_byte = urlopen(req).read()

webpage = web_byte.decode('utf-8')

page_soup = soup(webpage,"html.parser")

cont = page_soup.find_all('div',class_ ="alert alert-danger")

In [65]:
df.replace({'State = ': '','District =':'',' year' :''}, regex=True)

                  Name Branch  ...                City             State
0      Inderjeet Singh    CSE  ...               Solan  Himachal Pradesh
1       Yogendra Singh    CSE  ...              Mumbai       Maharashtra
2         Mohit Kapoor    CSE  ...              Kangra  Himachal Pradesh
3   Varan Singh Rohila    CSE  ...           Ghaziabad     Uttar Pradesh
4           Kusum Koli    CSE  ...   Udham Singh Nagar       Uttarakhand
5      Harshit Agarwal    CSE  ...                Agra     Uttar Pradesh
6            Haq Nizar    CSE  ...           Kozhikode            Kerala
7         Priyam Gupta    CSE  ...             Sambhal     Uttar Pradesh
8         Ashish Yadav    CSE  ...               Alwar         Rajasthan
9        Ujjawal Gupta    CSE  ...              Jaipur         Rajasthan
10       Muskan Mangal    CSE  ...             Dholpur         Rajasthan
11      Anshita Vishwa    CSE  ...               Ajmer         Rajasthan

[12 rows x 6 columns]

In [69]:
df = pd.read_csv("./dataset/ALL/all.csv")

In [70]:
df = df.replace({'State = ': '','District =':'',' year' :''}, regex=True)

In [68]:
df.to_csv("",index = False)

      Unnamed: 0                  Name  ...         City             State
0              0         Chetan Sharma  ...     Bilaspur  Himachal Pradesh
1              1        Aamulya Saxena  ...       Shimla  Himachal Pradesh
2              2  Shivankit Raj Dhiman  ...     Hamirpur  Himachal Pradesh
3              3         Kunal Chandel  ...        Mandi  Himachal Pradesh
4              4          Neetan Kumar  ...       Kangra  Himachal Pradesh
...          ...                   ...  ...          ...               ...
1599        1599     Shreyash Indurkar  ...   Chandrapur       Maharashtra
1600        1600           Tania Verma  ...       Kangra  Himachal Pradesh
1601        1601      Uprant Choudhary  ...        Solan  Himachal Pradesh
1602        1602            Aman Gupta  ...       Jalaun     Uttar Pradesh
1603        1603     Karthik Vedantham  ...       Guntur    Andhra Pradesh

[1604 rows x 7 columns]

In [86]:
df = df.drop(['Unnamed: 0'],axis = 1)

In [87]:
df.drop(columns = ['Unnamed: 0'],axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

In [88]:
df.columns

Index(['Name', 'Branch', 'Roll No', 'Year', 'City', 'State'], dtype='object')

In [90]:
df.to_csv("dataset\All\lll.csv",index = False)

In [103]:
print(df[df['City']=='Mandi'])

Name  Branch  Roll No  Year   City             State
3        Kunal Chandel     CSE   195004     1  Mandi  Himachal Pradesh
13        Gargy Dhiman     CSE   195016     1  Mandi  Himachal Pradesh
20    Neelam Mandhotra     CSE   195026     1  Mandi  Himachal Pradesh
23             Lavanya     CSE   195031     1  Mandi  Himachal Pradesh
29          Khem Singh     CSE   195038     1  Mandi  Himachal Pradesh
...                ...     ...      ...   ...    ...               ...
1536     Paras Dhillon      AR    16611     4  Mandi  Himachal Pradesh
1543    Ankit Bhardwaj      AR    16619     4  Mandi  Himachal Pradesh
1561    Pranjal Thakur  CSE-DD  16MI503     4  Mandi  Himachal Pradesh
1577      Nageen Chand  CSE-DD  16MI523     4  Mandi  Himachal Pradesh
1579            Muskan  CSE-DD  16MI527     4  Mandi  Himachal Pradesh

[94 rows x 6 columns]

In [98]:
df = df['City'].str.strip()

In [106]:
df = pd.read_csv("dataset\All\lll.csv",index_col= 0)

In [107]:
df['City'] = df['City'].str.strip()

In [108]:
df

                      Branch  Roll No  Year        City             State
Name
Chetan Sharma            CSE   195001     1    Bilaspur  Himachal Pradesh
Aamulya Saxena           CSE   195002     1      Shimla  Himachal Pradesh
Shivankit Raj Dhiman     CSE   195003     1    Hamirpur  Himachal Pradesh
Kunal Chandel            CSE   195004     1       Mandi  Himachal Pradesh
Neetan Kumar             CSE   195005     1      Kangra  Himachal Pradesh
...                      ...      ...   ...         ...               ...
Shreyash Indurkar     CSE-DD  16MI553     4  Chandrapur       Maharashtra
Tania Verma           CSE-DD  16MI554     4      Kangra  Himachal Pradesh
Uprant Choudhary      CSE-DD  16MI555     4       Solan  Himachal Pradesh
Aman Gupta            CSE-DD  16MI556     4      Jalaun     Uttar Pradesh
Karthik Vedantham     CSE-DD  16MI558     4      Guntur    Andhra Pradesh

[1604 rows x 5 columns]

In [109]:
df.dtypes

Branch     object
Roll No    object
Year        int64
City       object
State      object
dtype: object

In [112]:
print(df['City'].dtypes)

object

In [113]:
ct = ''
if ct:
    print('asd')

In [ ]:
df[df['City']=='Mandi']